@model ConfeccionInformesMVC.Models.DTOs.UpdateAlumnoDTO

<h1 class="text-center">Editar Alumno</h1>
<hr class="my-4" />
<main class="container-fluid">
    <form class="d-flex flex-column gap-2" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span class="text-danger" asp-validation-for="Nombre"></span>
        </div>

        <div class="form-group">
            <label asp-for="Matricula" class="control-label"></label>
            <input asp-for="Matricula" class="form-control" />
            <span class="text-danger" asp-validation-for="Matricula"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>

        <div class="form-check">
            <input asp-for="Repetidor" class="form-check-input" />
            <label asp-for="Repetidor" class="form-check-label"></label>
        </div>

        <div class="form-check">
            <input asp-for="Activo" class="form-check-input" />
            <label asp-for="Activo" class="form-check-label"></label>
        </div>

        <div class="form-group">
            <label asp-for="Sexo" class="control-label"></label>
            <select asp-for="Sexo" asp-items="ViewBag.Sexos" class="form-select">
                
            </select>
            <span class="text-danger" asp-validation-for="Sexo"></span>
        </div>

        <div class="form-group d-flex align-items-center justify-content-center mt-1">
            <button type="submit" class="btn btn-outline-primary w-25">Guardar</button>
        </div>
    </form>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
